@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    padding: 10px;
    width: 25vw;
}

.right {
    width: 75vw;
    margin-top: 16px;
    margin-right: 10px;
    position: relative;
}

.home ul li {
    gap: 15px;
    width: 14px;
    list-style: none;
    display: flex;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    gap: 15px;
    width: 100%px;
    display: flex;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.heading img {
    width: 30px;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}

.footer a {
    color: gray;
}

.header img {
    width: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #121212;

}

.header>* {
    padding: 20px;
}

.playlist {
    padding: 16px;
    max-height: 70vh;
    overflow: auto;
}

.playlist h2 {
    padding: 8px;
}

.card {
    background-color: #252525;
    width: 200px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    transition: all 1s;
}
.card:hover{
    background-color: black;
    cursor: pointer;
}
.card img {
    width: 100%;

}

.play {
    position: absolute;
    bottom: 105px;
    right: 20px;
    opacity: 1;
}

.card>* {
    padding-top: 10px;
}

.cardContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.play img {
    width: 28px;
}

.playbar {
    position: fixed;
    bottom: 0;
    background-color: #e2d9d9;
    min-height: 40px;
    width: 70vw;
    padding: 12px;
    bottom: 25px;
    filter: invert(1);
    border-radius: 10px;
    margin-left: 1%;
}

.songButtons {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.songButtons img {
    cursor: pointer;
}

.songButtons>* {
    width: 25px;
}

.buttons>* {
    gap: 150px;
}

.loginBtn {
    border: none;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    font-size: 16px;
    margin-right: 5px;
}

.signUpBtn {
    border: none;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    font-size: 16px;
}

.loginBtn:hover .loginDiv {
    cursor: pointer;
    transform: scale(1.03);

}

.signUpBtn:hover .signUpDiv {
    cursor: pointer;
    transform: scale(1.03);

}

.songList {
    height: 600px;
    overflow: auto;
    margin-bottom: 44px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    gap: 34px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px;
    padding: 13px;
    border-radius: 5px;
    justify-content: space-between;
    font-size: 16px;
}

.songListImg {
    width: 50px;
}

.playNow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.songList .info {
    width: 344px;
}

.seekBar1 {
    height: 4px;
    width: 98%;
    background-color: black;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    margin: 6px;
    transition: left 0.5s;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
}

.aboveBar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.songInfo,
.songTime {
    color: rgb(0, 0, 0);
    padding: 0 12px;
}

.hamburger {
    display: none;
}

.close {
    display: none;
}

.close img {
    width: 30px;
}
.volume{
    display: flex;
    align-items: center;
    gap: 5px;
}
.volume img{
    width: 20px;
    padding-bottom: 5px;
}
.songTimeVolume{
    display: flex;
    
}
@media (max-width: 1400px) {
    .playbar{
        font-size: 12px;
    }
    .left {
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 370px;
        background-color: black;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 21px;
        width: 29px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 60px);
        margin-left: 2vw;
    }

    .seekBar1 {
        width: calc(100vw - 70px);
    }

    .hamburger {
        display: block;
    }

    .hamburgerContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;
    }

    .close {
        display: block;
        position: absolute;
    }

    .card {
        width: 35vw;
    }

    .cardContainer {
        justify-content: center;
    }

    .right {
        margin: 0;
    }

    .left {
        padding: 0;
    }
}
@media (max-width: 400px){
    .card{
        width: 75vw;
    }
}